.errorIcon {
    width: 15px;
    background: red;
    border-radius: 50%;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 2px;
    font-weight: 600;
    margin-right: 10px;
}